.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App{
  margin-top: 50px;
  background-color: #15133c;
} */

 .App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} 

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  margin-top:100px;
  min-width: 450px;
}

.row {
  justify-content: center;
} 

.col-auto{
  text-align: center;
  padding-block-start:60px;
  font-size: 25px;
  font-weight: bold;
}

.cuadro {
  height: 150px;
  width: 150px;
  opacity: 75%;
  transition: opacity 1000ms;
}

#cuadro1 {
  background-color: lawngreen;
}

#cuadro2 {
  background-color:lightcoral;
}

#cuadro3 {
  background-color:lightseagreen ;
}

#cuadro4 {
  background-color:mediumorchid;
}

#cuadro5 {
  background-color:orangered;
}

#cuadro6 {
  background-color:slateblue;
}

#cuadro7 {
  background-color:tomato;
}

#cuadro8 {
  background-color:yellow;
}

#cuadro9 {
  background-color:turquoise;
}
