.App-super {
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 640px;
  display: flex;
  justify-content: center;
  background-image: url(./images/fondo-blanco.jpg);
}

 .App-header {
  background-color: #282c34;
  justify-content: center;
  padding-top: 10px;
  height: 75px;
  display: grid;
} 

.welcome{
  color: bisque;
  font-weight: bold;
  text-shadow: chartreuse;
  font-size: 18px;
}

.App-bottom {
  margin-top: 10px;
  align-self: auto;
}

.container {
  min-height: 450px;
  min-width: 450px;
  padding-block-start:10px;
  background-image: url(./images/fondo-blanco2.png);
  
}

.row {
  justify-content:space-around;
  height: 30px;
} 

.bar-sel {
  margin-bottom: 10px;
}

.text-success{
  padding: 7px;
  text-align: justify;
  font-size: 20px;
  font-weight: lighter;
  box-shadow: 0px 1px 1px 1px rgba(255, 255, 255, 0.19);  
}

#botom-text {
  padding: 7px;
  background-color: #00133a;
}

.cuadro {
  height: 70%;
  column-width: 30%;
  filter: opacity(55%);
  transition: all 300ms;
  padding: 10px;
  box-shadow: 22px 31px 15px -8px rgba(0,0,0,0.19);
  cursor: pointer;
  border-radius: 100%;
}

.cuadro:hover{
  transform:scale(1.4);
  filter: none;
}

#Tijera {
background-color:rgb(252, 255, 59);
}

#Spock {
background-color:mediumorchid;
}

#Papel {
background-color:slateblue;
}

#Lagarto {
background-color:tomato;
}

#Piedra {
background-color:turquoise;
}

.selText {
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 7%;
}

#hum{
font-size: 20px;
background-color: lawngreen;
border-radius: 7%;
opacity: 85%;
margin-left: 2px;
column-width: 50%;
padding-left: 1px;
padding-right: 1px;
}

#cpu{
font-size: 20px;
background-color:rgb(248, 47, 158);
border-radius: 7%;
opacity: 85%;
margin-right: 2px;
column-width: 50%;
padding-left: 1px;
padding-right: 1px;
}

.btn-danger{
  margin-top: 70px;
  text-align:center;
  height: 200px;
  width: 240px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 80px;
  box-shadow: 10px 10px 20px -1px rgba(192, 22, 22, 0.19);
}

.btn-reset{
  text-align:center;
  height: 30px;
  width: 155px;
  border-radius: 5%;
  background-color:rgb(30, 200, 158);
  font-weight: bold;
  font-size: 14px;
  box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.19);
margin-top: 8px;
}

.col-result{
  width: 500px;
}

.col-showSel{
  width: 100%;
}

.col-btn-auto{
  margin-top: 5px;
  position: absolute;
}

.col-3-9{
margin-top: 115px;
margin-left: 40px;
}

.col-4{
margin-top: 225px;
margin-left: 5px;
}

.col-auto{
margin-top: 50px;  
margin-left: 35px;
}

#msg{
margin-top: 115px;
}