.App-super {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-container {
  margin-top: 5px;
  text-align: justify;
}

 .App-header {
  background-color: #282c34;
  justify-content: center;
  padding-top: 10px;
  min-height: 50px;
  display: grid;
} 

  .App-bottom {
  margin-top: 5px;
  align-self: auto;
}

.container {
  min-width: 370px;
  padding-block-start:20px;
  margin: 5px;
}

.row {
  justify-content: center;
} 

.text-success{
  padding: 7px;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  box-shadow: 0px 1px 1px 1px rgba(255, 255, 255, 0.19);  
}

#botom-text {
  padding: 7px;
  background-color: #00133a;
}

.cuadro {
  height: 110px;
  width: 150px;
  filter: opacity(65%);
  transition: all 300ms;
  margin-block-end: 20px;
  box-shadow: 22px 31px 15px -8px rgba(0,0,0,0.19);
  cursor: pointer;
  border-radius: 100%;
}

.cuadro:hover{
transform:scale(1.4);
filter: none;
}

#Tijera {
  background-color:rgb(252, 255, 59);
}

#Spock {
  background-color:mediumorchid;
}

#Papel {
  background-color:slateblue;
}

#Lagarto {
  background-color:tomato;
}

#Piedra {
  background-color:turquoise;
}

.selText {
  text-align: left;
  font-weight: bold;
  font-size: 16;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.col-sel{
align-items: flex-start;

}